@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', sans-serif;

}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

#tentangKami {
  scroll-margin-top: -32px;
}

/* Default (Mobile) */
#varianKami {
  scroll-margin-top: -838px;
}

/* Tablet */
@media (min-width: 768px) {
  #varianKami {
    scroll-margin-top: -24px;
  }
}

/* Desktop besar */
@media (min-width: 1024px) {
  #varianKami {
    scroll-margin-top: 0;
  }
}

#mobile-menu {
  transition: background-color .3s ease;
}

  /* Lingkaran besar transparan */
#cursor-big {
  position: fixed;
  width: 55px;
  transition: 0.20s ease-out;
  height: 55px;
  background: rgba(78, 112, 78, 0.068);      
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
 }

/* Lingkaran kecil hijau */
#cursor-small {
  position: fixed;
  width: 12px;
  height: 12px;
  background: #4e8d40;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.05s linear;
  z-index: 9999;
}

.cursor-grow {
  transform: translate(-50%, -50%) scale(2.3) !important;
   transition: transform 0.35s ease-out;
}

.cursor-hide-small {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.2);
  transition: opacity 0.45s ease-out, transform 0.45s ease-out;
}

.search-box {
  max-width: 220px;
}

.search-box.expanded {
  max-width: 100% !important;
}

img {
  user-select: none;
  pointer-events: none;
}
